<div class="flex flex-col">
  <%= form_with url: movies_path, method: :get do |form| %>
    <%= form.text_field(
      :search, placeholder: "Search", value: params[:search],
      class: [
        "block w-full rounded-md border-0 mb-8 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300",
        "placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      ]
    ) %>
  <% end %>

  <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <% @movies.each do |movie| %>
    <li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
      <div class="flex flex-1 flex-col p-8">
        <%# <img class="mx-auto h-32 w-32 flex-shrink-0 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt=""> %>
        <h3 class="mt-6 text-sm font-medium text-gray-900"><%= movie.title %></h3>
        <dl class="mt-1 flex flex-grow flex-col justify-between">
          <dt class="sr-only">Title</dt>
          <dd class="text-sm text-gray-500"><%= movie.description %></dd>
        </dl>
      </div>
    </li>
    <% end %>
  </ul>
</div>
